# 1. sqlite3와 연동하기
- SQLite는 MySQL나 PostgreSQL와 같은 데이터베이스 관리 시스템
- 서버가 아니라 응용 프로그램에 넣어 사용하는 비교적 가벼운 데이터베이스
- '에스큐엘라이트'또는 '시퀄라이트'라고 읽는다. 위키백과
- https://www.sqlite.org/index.html

- https://www.youtube.com/watch?v=pO-EeLn9IsU&t=126s
- https://www.youtube.com/watch?v=WaKOnXTKyhU (각자 따라해보기)

<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvu_GXk-xlsx0iuMCsYcd6sIwHtalnigNgrmLVHyJf6Q&s'>

In [1]:
import sqlite3

# Connect to a database (creates a new one if it doesn't exist)
conn = sqlite3.connect('example.db')

> ### **DB 만들기**
>> - 'example.db'라는 이름의 SQLite 데이터베이스 파일과 연결을 만들고,
만약 해당 파일이 이미 존재하지 않으면 새로운 데이터베이스 파일이 생성
- 이 연결 객체를 사용하여 데이터베이스와 상호 작용할 수 있음

In [2]:

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

>> - 커서(conn.cursor())는 데이터베이스 연결(conn)과 상호 작용하여 데이터베이스에 쿼리를 실행하고 결과를 처리하는 역할 수행
- 커서(cursor)를 사용하여 SQL 쿼리를 실행하고, 결과 집합을 탐색하며, 데이터를 추가, 수정 또는 삭제하는 등의 작업을 수행

> ### **Create Table**

In [ ]:
'''
# Create a new SQLite database file
conn = sqlite3.connect('new_database.db')
cursor = conn.cursor()
'''

In [4]:
# Create the table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER
    )
''')


### CREATE TABLE 문을 사용하여 'users'라는 테이블을 생성하고 그 구조를 정의합니다.
>> - id INTEGER PRIMARY KEY AUTOINCREMENT: 'id'라는 이름의 INTEGER 데이터형 열을 생성하며, 이 열은 주요 키(primary key)로 설정됩니다. AUTOINCREMENT 키워드는 자동으로 고유한 값을 생성해주는 역할을 합니다.
>> - name TEXT NOT NULL: 'name'이라는 이름의 TEXT 데이터형 열을 생성하며, 이 열에는 NULL 값이 들어갈 수 없도록 NOT NULL 제약 조건이 설정됩니다.
>> - age INTEGER: 'age'라는 이름의 INTEGER 데이터형 열을 생성합니다.


>## **Insert data into the table**

In [5]:

cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('John Doe', 30))
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('Jane Smith', 25))
conn.commit()


> ## **Retrieve data from the table**

In [6]:
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

# Display the retrieved data
for row in rows:
    print(f"ID: {row[0]}, Name: {row[1]}, Age: {row[2]}")

# Close the cursor and the connection
cursor.close()
conn.close()

ID: 1, Name: John Doe, Age: 30
ID: 2, Name: Jane Smith, Age: 25

In [ ]:
'''conn = sqlite3.connect('new_database.db')'''

In [8]:
query = "SELECT * FROM users"

import pandas as pd
df = pd.read_sql_query(query, conn)
df

ProgrammingError: ignored

In [10]:
conn

In [11]:
cursor = conn.cursor()

ProgrammingError: ignored

In [12]:
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [13]:
query = "SELECT * FROM users"

import pandas as pd
df = pd.read_sql_query(query, conn)
df

   id        name  age
0   1    John Doe   30
1   2  Jane Smith   25

## 실전문제: fake 모듈을 사용하여 가상의 데이터(성명, 주소, 이메일) 1만개를 만들고  db에 저장하라

In [14]:
! pip install Faker

Collecting Faker
  Downloading Faker-19.3.1-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 16.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: Faker
Successfully installed Faker-19.3.1

In [16]:
# Establish a connection to the SQLite database
conn = sqlite3.connect('example_email.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create a table to store the fake data
cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        email TEXT NOT NULL,
        address TEXT
    )
''')

In [17]:
from faker import Faker

# Initialize Faker to generate fake data
fake = Faker()

# Generate and insert 10000 fake data records into the table
for _ in range(10000):
    name = fake.name()
    email = fake.email()
    address = fake.address()
    cursor.execute("INSERT INTO users (name, email, address) VALUES (?, ?, ?)", (name, email, address))



#cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('John Doe', 30))

conn.commit()

In [18]:

# Retrieve the data from the table into a pandas DataFrame
df = pd.read_sql_query("SELECT * FROM users", conn)

# Close the cursor and the connection
cursor.close()
conn.close()

In [19]:
# Display the DataFrame
df

,id,name,email,address
0,1,James Gibson,michael86@example.com,"452 Tate Knolls Apt. 925\nNorth Kevinborough, ..."
1,2,William Hartman,brewerkimberly@example.com,"9707 Janet View Suite 416\nEddieville, SD 56734"
2,3,Stephanie Nash,michael74@example.com,"802 Stephen Fields\nSouth Haileyport, DC 81051"
3,4,Rebecca Parrish,johnsonphillip@example.net,"1289 Donald Throughway Apt. 519\nWest Taylor, ..."
4,5,Karen Brooks,watsonjason@example.net,"58918 Wallace Mills\nEdwardborough, OR 53595"
...,...,...,...,...
9995,9996,Alyssa Martinez,michelle60@example.net,"72739 Klein Street Suite 862\nSouth Victoria, ..."
9996,9997,Leslie Vaughn,kchambers@example.net,Unit 2410 Box 2059\nDPO AA 38348
9997,9998,Melissa Webb,monique17@example.org,"69813 Taylor Glen Apt. 589\nEast Ryan, WV 75856"
9998,9999,Anna Ward,michael27@example.com,"5402 Taylor Islands Apt. 812\nKarinaburgh, PA ..."
9999,10000,Eric White,michael95@example.org,"9348 Tony Pass Suite 174\nEvansborough, MA 49889"

# 2. MySQL과 연동하기(Maria DB 등등 연동 가능)
- https://www.youtube.com/watch?v=QluBbR2Hpc4
-local에서만 접속이 가능하고 외부에서(clould)에서 접속이 불가

In [ ]:
!pip install mysql-connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 76.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247953 sha256=7494c73909e559a2c9d138e21acf7e8a47fe46d12f591defa7dd5e4a823da67f
  Stored in directory: /root/.cache/pip/wheels/76/48/9b/da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [ ]:
import mysql.connector

In [ ]:
import mysql.connector

# Establish a connection to the MySQL server
myconn = mysql.connector.connect(
    host= '34.64.146.102', #'Mysql@127.0.0.1',
    #port = 3306,
    database='db_shop',
    user='ancestor9',
    password='0000',
)

InterfaceError: ignored

In [ ]:

# Continue with your code using the established connection

# Remember to close the connection when finished
myconn.close()

'/content'