In [ ]:
# 실행결과 모두 보기
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# 가로에 모든 결과 화면 보이기 chat GPT에게 
from IPython.display import display_html
def display_side_by_side(*args):
    """여러 데이터프레임 비교가 쉽게 옆쪽으로 표시한다"""
    html_str=''
    for df in args:
        html_str += df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'), raw=True)

In [ ]:
import pandas as pd
# 예제 데이터프레임 만들기

def make_df(var, obs):
    data = {c: [str(c) + str(i) for i in obs] 
            for c in var}
    return pd.DataFrame(data, obs)

In [ ]:
display_side_by_side(
    make_df('ABCD', [0,1,2,3]), make_df('012', ['A','B']), make_df('ACEGIJ', [1,3,5,7,9])
)

In [ ]:
df1 = make_df('ABCD', [0,1,2,3])
df2 = make_df('DEFG', [1,2,3,4])
display_side_by_side(df1, df2, pd.concat([df1, df1]))

,A,B,C,D
0,A0,B0,C0,D0
1,A1,B1,C1,D1
2,A2,B2,C2,D2
3,A3,B3,C3,D3
,D,E,F,G
1,D1,E1,F1,G1
2,D2,E2,F2,G2
3,D3,E3,F3,G3
4,D4,E4,F4,G4
,A,B,C,D
0,A0,B0,C0,D0
1,A1,B1,C1,D1
2,A2,B2,C2,D2
3,A3,B3,C3,D3
0,A0,B0,C0,D0
1,A1,B1,C1,D1
2,A2,B2,C2,D2
3,A3,B3,C3,D3

# 1. Concat

In [ ]:
display_side_by_side(df1, df1, pd.concat([df1, df1])) # 기본은 상하로 합치기(vertical)

,A,B,C,D
0,A0,B0,C0,D0
1,A1,B1,C1,D1
2,A2,B2,C2,D2
3,A3,B3,C3,D3
,A,B,C,D
0,A0,B0,C0,D0
1,A1,B1,C1,D1
2,A2,B2,C2,D2
3,A3,B3,C3,D3
,A,B,C,D
0,A0,B0,C0,D0
1,A1,B1,C1,D1
2,A2,B2,C2,D2
3,A3,B3,C3,D3
0,A0,B0,C0,D0
1,A1,B1,C1,D1
2,A2,B2,C2,D2
3,A3,B3,C3,D3

In [ ]:
display_side_by_side(df1, df1, pd.concat([df1, df1], axis=1)) # axis=1, 좌우로 합치기(horizontal)

In [ ]:
display_side_by_side(df1, df2, pd.concat([df1, df2])) # 기본은 상하로 합치기, 합칠 때 동일한 이름의 컬럼이 없으면 nan

In [ ]:
display_side_by_side(df1, df2,
    pd.concat([df1, df2], ignore_index=True)
 ) # index를 새롭게 만들기

In [ ]:
display_side_by_side(df1, df2,
    pd.concat([df1, df2], axis=1)
 ) # 수평으로 합치기

In [ ]:
display_side_by_side(df1, df2,
    pd.concat([df1, df2], join='inner')
 ) # inner join(기본은 outer join), 서로 컬럼이 있는 경우만 즉 inner는 교집합, outer는 합집합

In [ ]:
display_side_by_side(df1, df2,
                     pd.concat([df1, df2], axis=1, join='inner')
 ) # 수평으로 서로 인덱스가 경우만

In [ ]:
display_side_by_side(df1.set_index('D'), df2.set_index('D'),
                     pd.concat([df1.set_index('D'), df2.set_index('D')], axis=1)
) # 수평으로 특정 인덱스를 기준으로

# 2. append

In [ ]:
display_side_by_side(df1, df1, df1.append(df1))

<ipython-input-46-6bc44c7043e9>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  display_side_by_side(df1, df1, df1.append(df1))

,A,B,C,D
0,A0,B0,C0,D0
1,A1,B1,C1,D1
2,A2,B2,C2,D2
3,A3,B3,C3,D3
,A,B,C,D
0,A0,B0,C0,D0
1,A1,B1,C1,D1
2,A2,B2,C2,D2
3,A3,B3,C3,D3
,A,B,C,D
0,A0,B0,C0,D0
1,A1,B1,C1,D1
2,A2,B2,C2,D2
3,A3,B3,C3,D3
0,A0,B0,C0,D0
1,A1,B1,C1,D1
2,A2,B2,C2,D2
3,A3,B3,C3,D3

# 3. **merge**
### **<font color='red'> 1:1**
### 동일컬럼 'D'를 기준으로

In [ ]:
df3 = pd.merge(df1, df2)
display_side_by_side(df1, df2, df3)

### **<font color='red'> 1:M**
### 동일컬럼 'D'를 기준으로

In [ ]:
df4 = make_df('DHIJ', [0,1,1,2,2,3])
df5 = pd.merge(df3, df4)
display_side_by_side(df3, df4, df5)

### **<font color='red'> M:1**
### 동일컬럼 'D'를 기준으로

In [ ]:
display_side_by_side(df4, df3, pd.merge(df4, df3))
#df4.merge(df3)

### **<font color='red'> M:M**
### 동일컬럼 'D', 'H'를 기준으로

In [ ]:
display_side_by_side(df4, df5, pd.merge(df4, df5))

### 왼쪽 파일을 기준으로(how='left') merge하기 때문에 왼쪽 파일의 D컬럼의 'D0'원소값을 포함한다

In [ ]:
display_side_by_side(df4, df5, pd.merge(df4, df5, how = 'left'))

### merge할 경우 동일한 컬럼명인 경우 앞에 있는 컬럼에_x, 뒤의 컬럼에_y

In [ ]:
df6= df5[['A', 'B', 'D', 'H', 'I']]
display_side_by_side(df4,
                     df6,
                     pd.merge(df4, df6, on =['D', 'H'])
)

In [ ]:
df6= df5[['A', 'B', 'D', 'H', 'I']]
display_side_by_side(df4,
                     df6,
                     pd.merge(df4, df6, on =['D', 'H'], suffixes=('_left', '_right'))
)

In [ ]:
display_side_by_side(df1,
                     df6,
                     pd.merge(df1, df6, on=['D']) 
                     )# 'D'를 기준으로 서로 합치기

In [ ]:
display_side_by_side(df1,
                     df6,
                     pd.merge(df1, df6, on=['A'])
 ) # 'A'를 기준으로 서로 합치기

In [ ]:
display_side_by_side(df1, df6,
                     pd.merge(df1, df6, on=['A'], suffixes=('_left', '_right'))
)

In [ ]:
import warnings
warnings.filterwarnings('ignore')

### merge할 경우 컬럼명이 달라도 컬럼의 값이 동일하면 merge

In [ ]:
df6['J'] = df1['A']; df7 = df6[['H', 'J']]
display_side_by_side(df1, df7,
                     pd.merge(df1, df7, left_on='A', right_on='J') 
                     )# 컬럼명이 틀린 경우에도 서로 이름만 다를 경우

# End