# 서울시 공공데이터 따릉이

# 1. 자료 확보

In [5]:
from google.colab import files
files.upload()

Saving 서울특별시 공공자전거 대여이력 정보_2212_bin.xlsb to 서울특별시 공공자전거 대여이력 정보_2212_bin.xlsb

In [7]:
import pandas as pd
!pip install pyxlsb
df = pd.read_excel('서울특별시 공공자전거 대여이력 정보_2212_bin.xlsb', engine='pyxlsb')
df

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyxlsb
  Downloading pyxlsb-1.0.10-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.10

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간(분),이용거리(M),생년,성별,이용자종류,대여대여소ID,반납대여소ID
0,SPB-44695,44896.000116,1933,개봉푸르지오아파트 상가,0,44896.000231,1933,개봉푸르지오아파트 상가,0,0,0.00,\N,M,내국인,ST-678,ST-678
1,SPB-31562,44896.000046,3007,MBC 앞,0,44896.000301,3007,MBC 앞,0,0,111.20,1995,F,내국인,ST-2165,ST-2165
2,SPB-56324,44896.001076,4468,가락1동주민센터,0,44896.001366,4468,가락1동주민센터,0,0,0.00,1994,M,내국인,ST-2583,ST-2583
3,SPB-30175,44896.002106,652,답십리 래미안엘파인아파트 입구,0,44896.002431,652,답십리 래미안엘파인아파트 입구,0,0,0.00,1981,M,내국인,ST-1447,ST-1447
4,SPB-37639,44896.000208,1047,강동 한신휴플러스,0,44896.002720,1075,천동초교 삼거리,0,3,492.34,1989,M,내국인,ST-1369,ST-1836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,SPB-48814,44909.873287,4514,목동성당 앞,0,44909.873426,4514,목동성당 앞,0,0,0.00,1982,M,내국인,ST-2764,ST-2764
1048571,SPB-33874,44909.869745,1449,상봉역 1번출구,0,44909.873426,1403,중화빌딩 앞 (동부시장),0,5,847.53,1991,\N,내국인,ST-1332,ST-566
1048572,SPB-57930,44909.866887,309,광화문역 6번출구 옆 B,0,44909.873472,326,안국역 5번출구 앞,0,9,1859.83,1981,M,내국인,ST-125,ST-142
1048573,SPB-37092,44909.865903,2728,마곡나루역 3번 출구,0,44909.873472,1109,공항시장역 4번출구,0,10,1574.15,1996,M,내국인,ST-2045,ST-511
1048574,SPB-38444,44909.862106,590,건국대학교 (입학정보관),0,44909.873484,506,금호 어울림 아파트 앞,0,16,1971.16,1995,\N,내국인,ST-972,ST-103

In [8]:
tf = df.sample(frac=0.05)
tf

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간(분),이용거리(M),생년,성별,이용자종류,대여대여소ID,반납대여소ID
921824,SPB-50808,44907.620023,1152,마곡역교차로,0,44907.623449,2744,강서세무서 앞,0,4,720.00,\N,F,내국인,ST-1064,ST-2411
756043,SPB-31654,44905.404410,740,으뜸공원,0,44905.408113,777,신월6차보람아파트 앞,0,5,731.57,1994,NaN,내국인,ST-1011,ST-2003
299057,SPB-47424,44900.507801,4634,이태원역 3번 출구,0,44900.514896,839,보광동 삼성리버빌아파트 앞,0,10,1400.00,1984,\N,내국인,ST-3056,ST-1441
676131,SPB-65098,44904.533484,1348,성북제일새마을금고 본점 앞,0,44904.540648,1328,월곡역 3번출구,0,10,1780.00,1992,\N,내국인,ST-1212,ST-910
136297,SPB-46965,44897.756088,425,DMC첨단산업센터,0,44897.760521,972,수색역,0,6,1230.00,1971,M,내국인,ST-991,ST-1751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553485,SPB-59859,44903.364201,2709,강변아파트 310동 앞,0,44903.368299,2708,강서한강자이타워 앞,0,5,1150.00,1995,F,내국인,ST-2025,ST-2024
40225,SPB-56772,44896.649016,4074,도봉구육아종합지원센터(창동),0,44896.653796,1737,신창시장,0,6,850.00,2007,M,내국인,ST-2727,ST-1469
1016375,SPB-54106,44909.439225,3214,영등포 푸르지오,0,44909.440313,256,동아에코빌입구,0,1,350.00,1993,NaN,내국인,ST-1985,ST-304
906456,SPB-52696,44907.454907,1979,구로1동우체국 앞,0,44907.456655,1908,해원리바파크 육교 밑,0,2,0.00,1974,M,내국인,ST-1241,ST-666
1027043,SPB-36567,44909.628715,1684,태릉입구역 5번출구,0,44909.637106,1454,한국전력공사(동대문 중랑지사),0,12,1335.71,1995,M,내국인,ST-1474,ST-1346

In [9]:
tf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52429 entries, 921824 to 1027043
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   자전거번호     52429 non-null  object
 1   대여일시      52429 non-null  float64
 2   대여 대여소번호  52429 non-null  int64
 3   대여 대여소명   52429 non-null  object
 4   대여거치대     52429 non-null  int64
 5   반납일시      52429 non-null  float64
 6   반납대여소번호   52429 non-null  object
 7   반납대여소명    52429 non-null  object
 8   반납거치대     52429 non-null  object
 9   이용시간(분)   52429 non-null  int64
 10  이용거리(M)   52429 non-null  float64
 11  생년        52429 non-null  object
 12  성별        50688 non-null  object
 13  이용자종류     52429 non-null  object
 14  대여대여소ID   52429 non-null  object
 15  반납대여소ID   52429 non-null  object
dtypes: float64(3), int64(3), object(10)
memory usage: 6.8+ MB

In [10]:
tf.to_excel('project.xlsx')

In [14]:
! ls

'서울특별시 공공자전거 대여이력 정보_2212_bin.xlsb'   sample_data
 project.xlsx

In [13]:
files.download('project.xlsx')

In [15]:
def summary(df) :
    tf = pd.DataFrame({'데이터형태(dtypes)' : df.dtypes,
                       '비 결측치 수(notnull': df.notnull().sum(),
                       '결측치 수(null)' : df.isnull().sum(),
                       '고유값 수(nunique)' : df.nunique()})
    return tf
    
summary(df)

         데이터형태(dtypes)  비 결측치 수(notnull  결측치 수(null)  고유값 수(nunique)
자전거번호           object          1048575            0           27431
대여일시           float64          1048575            0          614223
대여 대여소번호         int64          1048575            0            2687
대여 대여소명         object          1048575            0            2684
대여거치대            int64          1048575            0               2
반납일시           float64          1048575            0          614448
반납대여소번호         object          1048575            0            2694
반납대여소명          object          1048575            0            2691
반납거치대           object          1048575            0               3
이용시간(분)          int64          1048575            0             559
이용거리(M)        float64          1048575            0          253209
생년              object          1048575            0             164
성별              object          1014450        34125               5
이용자종류           object          1048575            0               3
대여대여소ID         object          1048575            0            2687
반납대여소ID         object          1048575            0            2694

In [16]:
%time df.to_pickle('서울특별시 공공자전거 대여이력 정보_2212.pkl', compression='gzip')

CPU times: user 1min 15s, sys: 0 ns, total: 1min 15s
Wall time: 1min 18s

In [17]:
files.download('서울특별시 공공자전거 대여이력 정보_2212.pkl')

# 여러 파일 합치기

In [ ]:
from google.colab import files
files.upload()

In [19]:
! ls

'서울특별시 공공자전거 대여이력 정보_2212_bin.xlsb'  'titanic - 복사본 (2).csv'
'서울특별시 공공자전거 대여이력 정보_2212.pkl'	     'titanic - 복사본 (3).csv'
 project.xlsx					     'titanic - 복사본.csv'
 sample_data					      titanic.csv

In [20]:
import glob
glob.glob('*.csv*')

['titanic - 복사본 (2).csv',
 'titanic.csv',
 'titanic - 복사본 (3).csv',
 'titanic - 복사본.csv']

In [23]:
files = glob.glob('*.csv*')
ttl = pd.DataFrame()
for file in files:
    sf = pd.read_csv(file)
    ttl = ttl.append(sf)

<ipython-input-23-99cdec3bfa2e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ttl = ttl.append(sf)
<ipython-input-23-99cdec3bfa2e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ttl = ttl.append(sf)
<ipython-input-23-99cdec3bfa2e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ttl = ttl.append(sf)
<ipython-input-23-99cdec3bfa2e>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ttl = ttl.append(sf)

In [24]:
ttl

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Conclusion